{% extends "Mother.html.twig" %}
{% block main %}
<!DOCTYPE html>
    <table class="table table-success table-striped-columns"> 
    <thead>
       <th> Id <th>
        <th> Titre</th> 
        <th> Année</th> 
        <th> Genre</th> 
        <th> Synopsis</th> 
        <th> Director</th> 
        <th> Supprimer à</th> 
        <th> Créer à</th> 
        <th> Mise à jour à</th> 
    </thead>

        <tbody>
        <tr> 
            <td> {{film.title}}</td>
            <td> {{film.year}}</td>
            <td> {{film.type}}</td>
            <td> {{film.synopsis}}</td>
            <td> {{film.director}}</td>
            <td> {{film.deletedAt ? film.deletedAt|date('Y-m-d H:i:s'):' Aucune date'}}</td>
            <td> {{film.createdAt ? film.createdAt|date('Y-m-d H:i:s'):' Aucune date'}}</td>
            <td> {{film.updtatedAt ? film.updtatedAt|date('Y-m-d H:i:s'):' Aucune date'}}</td>
            {% endfor %}
        </tbody>
        
    </table>
    {% endblock %}
        